.main { width: 400px; border: 2px solid red; height: 800px } 
.div1 
{ 
    position: relative; 
    left:50px;
     top:50px;
      width: 150px;
       border: 1px solid blue;
        background-color: blue; 
        height: 150px 
    } 
.div2 
{
     position:absolute;
      left:50px;
       width: 150px;
        border: 1px solid orange; 
        background-color: orange;
         height: 150px 
        } 
.div3
 { 
    position:fixed;
     bottom:0px; 
     right:0px;
      width: 150px;
       border: 1px solid yellow;
        background-color: yellow;
         height: 150px } 
.div4 
{
     position:sticky; 
     top:4px; 
     width: 150px;
      border: 1px solid pink;
       background-color: pink;
        height: 150px } 
.div5 
{
     width: 150px;
      border: 1px solid tomato;
       background-color: tomato;
        height: 150px 
    }